---
import { AboutContent } from '../../../modules/about/components/AboutContent';
import BaseLayout from '../../../modules/infra/layouts/BaseLayout.astro';

export function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'zh' } }];
}

const { lang } = Astro.params;
---

<BaseLayout title="About" lang={lang}>
  <div class="py-12">
    <AboutContent client:load lang={lang as 'en' | 'zh'} />
  </div>
</BaseLayout>
